<div style="margin-left: 50px;" class="wrapper ">

    <!-- Page Content Holder -->
    <div id="content" class="createcontent">
        <div class="form-row">
            <!-- <h2 *ngIf='!isEditMode'>DD Entry</h2> -->
            <h1 *ngIf='!isEditMode'>ERP Despatch Entry</h1>
            <h1 *ngIf='isEditMode'>Edit ERP Despatch Entry</h1>

        </div>

        <br>
        <br>
        <form name="form" (ngSubmit)="register()">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="date">Date</label>
                <input readonly type="text" name="todaydate" [(ngModel)]="todaydate" class="form-control" #dp="bsDatepicker" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red' }">
            </div>
            <div class="form-group col-md-4">
                <label for="">ERP Despatch No</label>
                <input #text type="text" class="form-control" [(ngModel)]="erpdespNo" name="erpdespNo" >
                <button type="button" (click)=clickme(text.value) class="form-control" >Get Center</button>

            </div>

            <div class="form-group col-md-4">
                <label for="erpdate">ERP Date</label>
                <input readonly type="text" name="todaydatee" [(ngModel)]="todaydatee" class="form-control" #dp="bsDatepicker" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red' }">

            </div>
        </div>
        <div class="row">

                            <div class="form-group col-md-4">
                                <label for="center">Center Name</label>
                                <input type="text" [(ngModel)]="selectedcenter" class="form-control" name="selectedcenter" >
                                </div>
                <!-- <div class="form-group col-md-3">
                    <label for="center">Center Name</label>
            
                        <select  [(ngModel)]="selectedcenter" class="form-control" name="centerName" [ngModelOptions]="{standalone: true}">
                                <option value="">--Choose--</option>
                                <ng-container *ngFor="let s of centers">
                                    <option [ngValue]="s.CenterName">{{s.CenterName}}</option>
                                </ng-container>
            
                            </select>
            </div>  -->
            <div class="form-group col-md-4">
                <label for="noofdd">No.of DD</label>
                <input type="text" [(ngModel)]="selectednodd" name="selectednodd" class="form-control">


            </div>
            <div class="form-group col-md-4">
                <label for="amount">DD Amount</label>
                <input type="text" [(ngModel)]="selectedamount" name="selectedamount" class="form-control">


            </div> <button *ngIf='!isEditMode' type="submit" (click)="register()" 
            class="btn btn-primary">Submit</button>
            
            
                    </div>
                </form>

                <div style="padding-top: 20px;">
                        <h2>DD Entry List </h2>
            
            
            
            <table class="table table-hover table-responsive table-bordered">
                    <thead class="thead-dark">
                        <tr>
                          <th>Date</th>
                          <th>ERP Despatch No</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor='let ddenter of erpdespatchList '>
                            <tr>
                                <!-- <td>{{ddLists.indexOf(ddenter) + 1}}</td> -->
                                <td>{{ddenter.centerName}}</td>
                                <td>{{ddenter.ddenter.dDate}}</td>
                                <td>{{ddenter.ddenter.appNo}}</td>
            
                                <td>{{ddenter.center.CenterName}}</td>
                                <td>{{ddenter.ddenter.courseName}}</td>
                                <td>   {{ddenter.ddenter.studentName}}
                                </td>
                             
                                <!-- <button type="button" class="btn btn-link">
                                        <a [routerLink]="['/ddentry-details', ddenter.ddenter.ddlastId]">{{ddenter.ddenter.studentName}}</a>
                                    </button> -->
            
            
                                <td>{{ddenter.ddenter.ddNumber}}</td>
                                <td>{{ddenter.ddenter.bank}}</td>
            
                                <td>{{ddenter.ddenter.ddDate}}</td>
            
                                <td>{{ddenter.ddenter.Amount}}</td>
            
                                <td>{{ddenter.ddenter.enteredBy}}</td>
                                <td>{{ddenter.ddenter.feesItem}}</td>
            
                             
                            </tr>
                        </ng-container>
                    </tbody>
            
                </table>
            
</div></div></div>            