<div style="margin-left: 50px;" class="wrapper ">

    <!-- Page Content Holder -->
    <div id="content" class="createcontent">
        <div class="form-row">
            <!-- <h2 *ngIf='!isEditMode'>DD Entry</h2> -->
            <h1 *ngIf='!isEditMode'>SRO Daily Entry</h1>
            <h1 *ngIf='isEditMode'>Edit Invoice Entry</h1>
            <div class="form-group col-md-3">
                </div>
            <div class="form-group col-md-3"></div>                
                <div style="color: red" class="form-group col-md-3"> No of DD ' saved today : {{countdd}} , total dd amount : {{sumamount}}
</div>        
            </div>

        <br>
        <br>
        <form name="form">
            <ng-container *ngFor="let lstid of sroLastids">

                <div class="row">





                </div>


                <div class="row">

                    <div class="form-group col-md-3">
                        <br>
                        <label for="ddid">SRO Sl No : &nbsp;</label>
                        <span *ngIf='!isEditMode' style="color: red">{{lstid.lastId +1}}</span>
                        <span *ngIf='isEditMode' style="color: red">{{newddentry.invoiceEntryId}}</span>

                        <input type="hidden" disabled [(ngModel)]="lstid.lastId" name="lastId" class="form-control">
                    </div>



                    <div class="form-group col-md-3">
                        <label for="date">Date</label>
                        <input readonly type="text" name="todaydate" [(ngModel)]="todaydate" class="form-control" #dp="bsDatepicker" bsDatepicker
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red' }">
                    </div>


                    <div class="form-group col-md-3">
                        <label for="date">Entered Date</label>
                        <input readonly type="text" name="todaydatee" [(ngModel)]="todaydatee" [minDate]="minDate" [maxDate]="maxDate" class="form-control"
                            #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red' }">



                    </div>

                    <div class="form-group col-md-3">
                        <timepicker  name="mytime" [(ngModel)]="mytime"></timepicker>
                        <!-- <pre class="alert alert-info">Time is: {{mytime}}</pre> -->

                    </div>

  
                    <div class="form-group col-md-3">
                        <label for="date">Entered By</label>

                        <input readonly type="text" name="enteredBy" class="form-control" [(ngModel)]="enteredBy">

                    </div>
                    <div style="color: red" class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label style="color: black" for="center">Centre Name</label>
                        <!-- <label for="centercode">Code :</label> -->
                        <!-- <select #t (change)="callType(t.value)" [(ngModel)]="selectedcenter" formControlName="centerName" class="form-control" name="selectedcenter">
                            <option value="">--Choose--</option>
                            <ng-container *ngFor="let s of centers">
                                <option [ngValue]="s.CenterName">{{s.CenterName}}</option>
                            </ng-container>

                        </select> -->
                        <input readonly type="text" class="form-control"  name="selectedcenter" formControlName="centerName" [(ngModel)]="selectedcenter" >
                        <!-- <div *ngIf="centerName.invalid && (centerName.dirty || centerName.touched)" class="alert-danger">
                            <div *ngIf="centerName.errors.required">
                                Please select a center
                            </div>

                        </div> -->


                    </div>


                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="remarks">Remarks</label>
                        <input type="text"  [(ngModel)]="remarks" formControlName="remarkss" name="remarks" class="form-control" placeholder="remarks">
                    </div>


                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="date">DD Collected</label>


                        <select (change)="myfunction($event.target.value)" [(ngModel)]="ddCollected" name="ddCollected" class="form-control" formControlName="isddcollected">
                            <option value="" disabled [selected]>--Choose--</option>
                            <ng-container *ngFor="let d of values">
                                <option [value]="d.name">{{d.name}}</option>

                                <!-- <option [ngValue]="district" >Kannur</option>
                <option [ngValue]="district">Kozhikode</option>
                <option [ngValue]="district">Malappuram</option> -->
                            </ng-container>

                        </select>

                        <div *ngIf="isddcollected.invalid && (isddcollected.dirty || isddcollected.touched)" class="alert-danger">
                            <div *ngIf="isddcollected.errors.required">
                                dd collected is required
                            </div>

                        </div>

                    </div>

                </div>

                <div *ngIf="isformOpen" class="row">


                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="feesItem">Fees Item</label>

                        <select formControlName="feesitem" class="form-control" [(ngModel)]="feesItem" name="feesItem">
                            <option value="" disabled [selected]>--Choose--</option>
                            <ng-container>
                                <option>Course Fee</option>
                                <option>Prospectus</option>


                            </ng-container>

                        </select>
                    </div>



                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="appno">Application No</label>
                        <input type="text" formControlName="appno" placeholder="Application Number" [(ngModel)]="appNo" name="appNo" class="form-control">


                    </div>

                    <div class="form-group col-md-3" [formGroup]="ddentryForm" >
                        <label for="course">Course Name</label>

                        <select [(ngModel)]="selectedcourse" formControlName="courseName" class="form-control" name="selectedcourse">
                            <option value="">--Choose--</option>
                            <ng-container *ngFor="let c of courses">
                                <option [ngValue]="c.Name">{{c.Name}}</option>
                            </ng-container>

                        </select>

                        <!-- <label for="centerName">Center Name</label>
<input type="text" class="form-control" placeholder="Center Name"> -->
                    </div>




                </div>

                <div class="row" *ngIf="isformOpen">

                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="studentName">Student Name</label>
                        <input formControlName="studentname" type="text" class="form-control" [(ngModel)]="studentName" name="studentName" placeholder="Student Name">
                    </div>
                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="ddNo">DD Number</label>
                        <input type="text" formControlName="ddnumber" class="form-control" [(ngModel)]="ddNumber" name="ddNumber" placeholder="DD Number">

                    </div>

                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="bank">Bank</label>

                        <select [(ngModel)]="bank" class="form-control" name="bank" formControlName="banks">
                            <option value="" disabled [selected]>--Choose--</option>
                            <ng-container>
                                <option>AXIS BANK</option>
                                <option>BANK OF BARODA</option>
                                <option>BANK OF INDIA (BOI)</option>
                                <option>CANARA BANK</option>
                                <option>CENTRAL BANK OF INDIA</option>
                                <option>CHALLAN BANK OF INDIA</option>
                                <option>CO-OPERATIVE BANK</option>
                                <option>CORPORATION BANK</option>
                                <option>DHANALAXMI
                                </option>
                                <option>ERNAKULAM DT. CO-OPERATIVE BANK</option>
                                <option>FEDERAL BANK</option>
                                <option>HDFC</option>
                                <option>ICICI</option>
                                <option>IDBI</option>
                                <option>INDIAN BANK</option>
                                <option> INDIAN OVERSEAS BANK (IOB)</option>
                                <option>INDUSIND BANK</option>
                                <option>KARUR VYSYA BANK</option>
                                <option>KERALA GRAMIN BANK</option>
                                <option>PUNJAB NATIONAL BANK</option>
                                <option>SOUTH INDIAN BANK (SIB)</option>
                                <option>SPL PB</option>
                                <option>STATE BANK OF INDIA(SBI)</option>
                                <option>STATE BANK OF TRAVANCORE(SBT)</option>
                                <option>SYNDICATE BANK</option>
                                <option>THE CATHOLIC SYRIAN BANK</option>
                                <option>UNION BANK OF INDIA (UBI)</option>
                                <option>UNITED BANK OF INDIA</option>
                                <option>VIJAYA BANK</option>


                            </ng-container>

                        </select>

                    </div>



                </div>

                <div class="row" *ngIf="isformOpen">

                    <div class="form-group col-md-3" [formGroup]="ddentryForm">
                        <label for="ddAmount">DD Amount</label>
                        <input type="text" [(ngModel)]="Amount" name="Amount" class="form-control" formControlName="ddAmount" placeholder="DD Amount">

                    </div>



                </div>
                <button type="submit" [disabled]="ddentryForm.invalid" (click)="beforeregister(lstid.Id,lstid)" class="btn btn-primary">Save</button>
            </ng-container>
        </form>


        <div style="padding-top: 10px">
            <h1>SRO Entry List </h1>
            <!-- <button  type="submit"  class="btn btn-primary">Save</button> -->


            <table class="table table-hover table-responsive table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th height="50" bgcolor="#6599F">SL NO</th>
                        <th>Sro Id</th>
                        <th style="min-width: 90px;">Date</th>

                        <th style="min-width: 100px;">Entered Date</th>
                        <th style="min-width: 100px;">Time</th>

                        <th style="min-width: 100px;">Entered By</th>
                        <th style="min-width: 150px;">DD Collected</th>

                        <th style="min-width: 150px;">Center Name</th>
                        <th style="min-width: 100px;">Fees Item</th>
                        <th style="min-width: 120px;">Application Number</th>
                        <th style="min-width: 120px;">Course Name</th>
                        <th style="min-width: 120px;">Student Name</th>
                        <th style="min-width: 120px;">DD Number</th>
                        <th style="min-width: 120px;">Bank</th>
                        <th style="min-width: 120px;">DD Amount</th>

                        <th style="min-width: 100px;">Remarks</th>



                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor='let ddenter of sroLists '>
                        <tr *ngIf="ddenter.ddenter.centerName == selectedcenter">
                            <td>{{sroLists.indexOf(ddenter) + 1}}</td>
                            <td>{{ddenter.ddenter.sroId}}</td>
                            <td>{{ddenter.ddenter.date}}</td>

                            <td>{{ddenter.ddenter.enteredDate}}</td>
                            <td>{{ddenter.ddenter.time}}</td>
                            <td> {{ddenter.ddenter.enteredBy}}
                            </td>

                            <td>{{ddenter.ddenter.isddCollected}}</td>
                            <td>{{ddenter.ddenter.centerName}}</td>
                            
                            <td>{{ddenter.ddenter.feesItem}}</td>

                            <td>{{ddenter.ddenter.applicationNumber}}</td>


                            <td>{{ddenter.ddenter.courseName}}</td>
                            <td>{{ddenter.ddenter.studentName}}</td>
                            <td>{{ddenter.ddenter.ddNumber}}</td>
                            <td>{{ddenter.ddenter.bank}}</td>
                            <td>{{ddenter.ddenter.ddAmount}}</td>
                            <td>{{ddenter.ddenter.remarks}}</td>





                            <!-- <td>

                        <button type="button" (click)=entrySelection(ddenter.ddenter.ddlastId,ddenter.ddenter) class="btn btn-primary">
                                View Details
                            </button> -->


                            <!-- <button type="button" class="btn btn-primary">
                        <a [routerLink]="['/ddentry-details',ddenter.ddenter.ddlastId]">View Details</a>
                    </button> -->
                            <!-- </td> -->
                        </tr>
                    </ng-container>
                </tbody>

            </table>

        </div>
    </div>
</div>