<div class="">

    <div id="content" class="listcontent listcontenttable">

<h1>KKC DD List</h1>
<div class="form-group col-md-3">
    <label>Month</label>
    <select #t  (change)="filter(selectedmonth)" [(ngModel)]="selectedmonth" class="form-control" name="selectedcenter">
      <option value="">--Choose--</option>
      <ng-container *ngFor="let m of months">
          <option [ngValue]="m.id">{{m.name}}</option>
      </ng-container>

  </select>  
  </div>

<table class="table table-hover table-responsive table-bordered">
  <thead class="thead-dark">
      <tr>
          <th>Sl.No</th>
          <th>DD SL.No</th>
          <th style="min-width: 90px;">Date</th>
          <th>Application Number</th>
          <th style="min-width: 190px;">Centre Name</th>
          <th style="min-width: 100px;">Course Name</th>
          <th style="min-width: 120px;">Student Name</th>
          <th style="min-width: 100px;">Student Roll Number</th>
          
          <th>DD No</th>
          <th style="min-width: 120px;">Bank</th>
          <th style="min-width: 90px;">DD Date</th>
          <th>DD Amount</th>
          <th style="min-width: 100px;">Fees Item</th>
      </tr>
  </thead>
  <tbody>
      <ng-container *ngFor='let ddenter of selectedData'>
          <tr *ngIf="ddenter.ddenter.isVerified  == null">
              <td>{{ddLists.indexOf(ddenter) + 1}}</td>
              <td>{{ddenter.ddenter.id}}</td>
              <td>{{ddenter.ddenter.EnteredOn}}</td>
              <td>{{ddenter.ddenter.StudentApplicationNumber}}</td>
              <td>{{ddenter.ddenter.CenterName}}</td>
              <td>{{ddenter.ddenter.CourseName}}</td>
              <td>{{ddenter.ddenter.StudentName}}</td>
              <td>{{ddenter.ddenter.StudentRollNo}}</td>
           
              <td>{{ddenter.ddenter.DDNumber}}</td>

              <td>{{ddenter.ddenter.Bank}}</td>



              <!-- <td>{{ddenter.Bank}}</td> -->

              <td>{{ddenter.ddenter.DDDate}}</td>

              <td>{{ddenter.ddenter.TotalAmount}}</td>
              <td>{{ddenter.ddenter.FeeType}}</td>
              <button type="submit" class="btn btn-primary" (click)="verify(ddenter.ddenter.lastid,ddenter.ddenter)">Verify</button>
            </tr>
      </ng-container>
  </tbody>

</table>


<div style="padding-top: 50px;">
    <h2>Verified KKC DD Entries</h2>
    <table class="table table-hover table-responsive table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Sl.No</th>
                <th>DD SL.No</th>
                <th style="min-width: 90px;">Date</th>
                <th>Application Number</th>
                <th style="min-width: 190px;">Centre Name</th>
                <th style="min-width: 100px;">Course Name</th>
                <th style="min-width: 120px;">Student Name</th>
                <th style="min-width: 100px;">Student Roll Number</th>
                
                <th>DD No</th>
                <th style="min-width: 120px;">Bank</th>
                <th style="min-width: 90px;">DD Date</th>
                <th>DD Amount</th>
                <th style="min-width: 100px;">Fees Item</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor='let ddenter of ddLists'>
                <tr *ngIf="ddenter.ddenter.isVerified  == true">
                    <td>{{ddLists.indexOf(ddenter) + 1}}</td>
                    <td>{{ddenter.ddenter.id}}</td>
                    <td>{{ddenter.ddenter.EnteredOn}}</td>
                    <td>{{ddenter.ddenter.StudentApplicationNumber}}</td>
                    <td>{{ddenter.ddenter.CenterName}}</td>
                    <td>{{ddenter.ddenter.CourseName}}</td>
                    <td>{{ddenter.ddenter.StudentName}}</td>
                    <td>{{ddenter.ddenter.StudentRollNo}}</td>
                 
                    <td>{{ddenter.ddenter.DDNumber}}</td>
      
                    <td>{{ddenter.ddenter.Bank}}</td>
      
      
      
                    <!-- <td>{{ddenter.Bank}}</td> -->
      
                    <td>{{ddenter.ddenter.DDDate}}</td>
      
                    <td>{{ddenter.ddenter.TotalAmount}}</td>
                    <td>{{ddenter.ddenter.FeeType}}</td>
                    <button type="submit" class="btn btn-primary" (click)="verify(ddenter.ddenter.lastid,ddenter.ddenter)">Verify</button>
                    <td>Verified</td>
                  </tr>
            </ng-container>
        </tbody>
      
      </table>

</div></div></div>