<div class="wrapper" style="margin-left: 50px">
  <h2>KKC DBA(Share Release Note)</h2>

  <div class="row" style="padding-top: 30px;padding-left: 50px;padding-right: 50px">


    <div class="form-group col-md-3">

      <label>Filter with Month : </label>&nbsp;
      <select [(ngModel)]="selectedMonth" class="form-control" name="selectedMonth" (change)="filterMonth(selectedMonth)">
        <option value="">--Choose--</option>
        <ng-container *ngFor="let month of Months">
          <option [ngValue]="month.id">{{month.name}}</option>
        </ng-container>

      </select>
    </div>


    <div class="form-group col-md-3">

      <label>Filter DD's with Fee Type: </label>&nbsp;
      <select [(ngModel)]="selectedFee" class="form-control" name="selectedFee" (change)="filterFee(selectedFee)">
        <option value="" [selected]="selectedFee !=0" disabled>--Choose--</option>
        <ng-container *ngFor="let s of feesItems">
          <option [ngValue]="s.name">{{s.name}}</option>
        </ng-container>

      </select>
    </div>
    <div class="form-group col-md-3">

      <label>Filter DD's with Centre Name : </label>&nbsp;
      <select [(ngModel)]="selectedCenter" class="form-control" name="selectedCenter" (change)="filterCenter(selectedCenter)">
        <option value="" [selected]="" disabled>--Choose--</option>
        <ng-container *ngFor="let s of centerList">
          <option [ngValue]="s.CenterName">{{s.CenterName}}</option>
        </ng-container>

      </select>

    </div>



    <!-- <div class="form-group col-md-3">

              <label>Filter DD's Despatch No : </label>&nbsp;
              <select [(ngModel)]="selecteddespatch" class="form-control" name="selecteddespatch" (change)="filterDespatch(selecteddespatch)">
                <option value="" disabled>--Choose--</option>
                <ng-container *ngFor="let despatch of selectedData" >
                  <option >{{despatch.despatchList.despatchNo}}</option>
                </ng-container>
        
              </select>
            </div>
         -->

  </div>
  <div class="row" style="padding-top: 30px;padding-left: 50px;padding-right: 50px">

    <div class="form-group col-md-3" [formGroup]="dbaForm">

      <label>Note : Select and Enter Dba No here </label>&nbsp;
      <input type="text" [(ngModel)]="newdbaEntry.dbaNo" name="dbaNo" class="form-control" formControlName="dbaNum">
      <div *ngIf="dbaNum.invalid && (dbaNum.dirty || dbaNum.touched)" class="alert-danger">
        <div *ngIf="dbaNum.errors.required">
          Dba No is Required
        </div>
        <div *ngIf="dbaNum.errors.pattern">
          Please enter valid input(number)
        </div>
      </div>
    </div>
    <div class="form-group col-md-3" [formGroup]="dbaForm">

      <label>Dba Date</label>&nbsp;
      <input type="date" [(ngModel)]="newdbaEntry.dbaDate" name="dbaDate" class="form-control" formControlName="dbaDate">
      <div *ngIf="dbaDate.invalid && (dbaDate.dirty || dbaDate.touched)" class="alert-danger">
        <div *ngIf="dbaDate.errors.required">
          Please Select Date
        </div>

      </div>
    </div>



    <div class="form-group col-md-3" [formGroup]="dbaForm">

      <!-- <label>Sumbit For Despatch No Entry</label>&nbsp;<br> --><br>
      <button type="submit" class="btn btn-primary" (click)=" beforeRegister(lstid.id)" [disabled]="dbaForm.invalid">Submit</button>
    </div>
    <div class="form-group col-md-3">
      <label>Count:</label>

      <span style="color: red;padding-left: 20px">{{checklisttotal}}</span>
      <div><label>Selected Dba.Total :</label>
        <span style="color: red;padding-left: 20px">{{checklistddTotal}}</span>
      </div>
    </div>
  </div>

  <div style="padding-top: 50px;">


    <table class="table table-hover table-responsive table-bordered">
      <thead class="thead-dark">
        <tr>

          <th>Sl.No</th>
          <th>Desp.Sl.No</th>
          <th>Centre Name</th>
          <th>Batch No</th>
          <th>Despatch No</th>
          <th>Despatch Date</th>
          <th>Fees Item</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Fee Without Tax</th>
          <th>Amount</th>
          <th>Rate</th>
          <th>DBA No :Entry</th>



        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let e of erpList">
          <tr>
            <!-- <tr *ngIf="ddenter.despatchList?.isdespatchEntered  == true && ddenter.despatchList?.isdbaEntered == null"> -->
          <tr>
            <td>{{erpList.indexOf(e) + 1}}</td>
            <th>{{e.ID}}</th>
            <td>{{e.centerName}}</td>
            <td>{{e.batchNo}}</td>
            <td>{{e.erpdespNo}}</td>
            <td>{{e.erpdate}}</td>
            <td>{{e.feesItem}}</td>
            <td>{{e.erpAmount}}</td>
            <td>{{e.tax}}</td>
            <td>{{e.feeWithoutTax}}</td>
            <td>{{e.shareAmount}}</td>
            <td>{{e.rate}}</td>
            <td><input type="checkbox" name="dbaNo" (change)="onchange($event.target.checked,e.unique,e)"></td>
          </tr>

        </ng-container>
        <tr>
          <td colspan="7" style="text-align: right">Total</td>
          <td>

          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>
      </tbody>

    </table>

  </div>
  <button type="submit" (click)="export()"> Export</button>




</div>