<div class="wrapper ">

  <div id="content" class="listcontent listcontenttable">
      <h2>Roll No Entry</h2>
      <div style="height:20px"></div>
      <div>
          <table class="table table-hover table-responsive table-bordered">
              <thead class="thead-dark">
                  <tr>
                      <th height="50" bgcolor="#6599F">SL NO</th>
                      <th>Date</th>

                      <th>Center Name</th>
                      <th>Student Name</th>
                      <th>DD No</th>
                      <th>Bank</th>

                      <th>DD Date</th>
                      <th>DD Amount</th>
                      
                      <th>Entered By</th>
                      <th>Fees Item</th>
                      <th>DD ID </th>
                      <th>Despatch No</th>
                      <th>DBA No Entry</th>
                      <th>Roll No</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container>
                      <tr >
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                         <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td><input type="text"class="form-control"></td>
                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                      </tr>
                  </ng-container>

              </tbody>

          </table>
          <div style="padding-top: 50px;">
              <h2>List with Roll No</h2>

              <table class="table table-hover table-responsive table-bordered">
                  <thead class="thead-dark">
                      <tr>
                          <th height="50" bgcolor="#6599F">SL NO</th>
                          <th>Date</th>

                          <th>Center Name</th>
                          <th>Student Name</th>
                          <th>DD No</th>
                          <th>Bank</th>

                          <th>DD Date</th>
                          <th>DD Amount</th>
                          <th>Entered By</th>
                          <th>Fees Item</th>
                          <th>DD ID </th>
                          <th>Despatch No</th>
                          <th>DBA No</th>
                          <th>Roll No</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container >

                          <tr >
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>

                           
                          </tr>
                      </ng-container>

                  </tbody>

              </table>
          </div>


      </div>
  </div>
</div>