<div class="wrapper" style="margin-left: 50px">
    <h2>DespatchNo List</h2>
    <div class="row" style="padding-top: 30px;padding-left: 50px;padding-right: 50px">
        <div class="form-group col-md-3">

            <label>Filter DD's with Centre Name : </label>&nbsp;
            <select [(ngModel)]="selectedCenter" class="form-control" name="selectedCenter" (change)="filterCenter(selectedCenter)">
                <option value="" [selected]="selectedCenter !=0" disabled>--Choose--</option>
                <ng-container *ngFor="let s of centers">
                    <option [ngValue]="s.Id">{{s.CenterName}}</option>
                </ng-container>

            </select>
        </div>

        <div class="form-group col-md-3">

            <label>Filter with Despatch No : </label>&nbsp;
            <select [(ngModel)]="selectedDespatch" class="form-control" name="selectedDespatch" (change)="filterDespatch(selectedDespatch)">
                <option value="">--Choose--</option>
                <ng-container *ngFor="let ddenter of selectedDatatemp">
                    <option>{{ddenter.despatchList?.despatchNo}}</option>
                </ng-container>

            </select>
        </div>





        <!-- <div class="form-group col-md-3">

                <label>Filter DD's Despatch No : </label>&nbsp;
                <select [(ngModel)]="selecteddespatch" class="form-control" name="selecteddespatch" (change)="filterDespatch(selecteddespatch)">
                  <option value="" disabled>--Choose--</option>
                  <ng-container *ngFor="let despatch of selectedData" >
                    <option >{{despatch.despatchList.despatchNo}}</option>
                  </ng-container>
          
                </select>
              </div>
           --> 
        



        <div style="padding-top: 50px;">

            <table class="table table-hover table-responsive table-bordered">
                <thead class="thead-dark">
                    <tr>


                        <th>Centre Name</th>



                        <th>Despatch No</th>
                        <th>Despatch Date</th>
                        <th>Fees Item</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Fee Without Tax</th>



                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ddenter of selectedData">
                        <tr>
                            <tr>


                                <td>{{ddenter.center?.CenterName}}</td>

                                <td>{{ddenter.despatchList?.despatchNo}}</td>
                                <td>{{ddenter.despatchList?.despatchDate}}</td>
                                <td>{{ddenter.despatchList?.feeItem}}</td>
                                <td>{{ddenter.despatchList?.totalAmount}}</td>
                                <td>{{ddenter.despatchList?.taxAmount}}</td>
                                <td>{{ddenter.despatchList?.FWT}}</td>






                            </tr>

                    </ng-container>
                    <tr>
                        <td colspan="4" style="text-align: right">Total</td>
                        <td>
                            {{total1}}
                        </td>
                        <td>{{taxttotal1}}</td>
                        <td>{{feewTotal1}}</td>
                        <!-- <td></td> -->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>