<div class="wrapper" style="margin-left: 50px">
    <h2>DespatchNo List</h2>
    <div class="row" style="padding-top: 30px;">
        <div class="form-group col-md-3">

            <label>Filter DD's with Centre Name : </label>&nbsp;
            <select [(ngModel)]="selectedcenter" class="form-control" name="selectedcenter" (change)="filterCenter(selectedcenter)">
                <option value="" [selected]="selectedcenter !=0" disabled>--Choose--</option>
                <ng-container *ngFor="let s of centers">
                    <option [ngValue]="s.Id">{{s.CenterName}}</option>
                </ng-container>

            </select>
        </div>





        <div style="padding-top: 50px;">

            <table class="table table-hover table-responsive table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>DD SL.No</th>
                        <th style="min-width: 90px;">Date</th>
                        <th>Application No</th>

                        <th style="min-width: 200px;">Centre Name</th>
                        <th style="min-width: 100px;">Course Name</th>
                        <th style="min-width: 150px;">Student Name</th>
                        <th>DD No</th>
                        <th style="min-width: 120px;">Bank</th>

                        <th style="min-width: 90px;">DD Date</th>

                        <th>DD Amount</th>


                        <th style="min-width: 100px;">Fees Item</th>
                        <th>Despatch No</th>
                        <th>Despatch Date</th>
                        <th>Entered By</th>



                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let ddenter of selectedData">
                        <tr>
                            <tr *ngIf="ddenter.ddenter?.isVerified  == true && ddenter.ddenter.despatchNo != null ">
                                <!-- <td>{{ddLists.indexOf(ddenter) + 1}}</td> -->
                                <td>{{ddenter.ddenter?.ddlastId}}</td>

                                <td>{{ddenter.ddenter?.dDate}}</td>
                                <td>{{ddenter.ddenter?.appNo}}</td>

                                <td>{{ddenter.center?.CenterName}}</td>
                                <td>{{ddenter.ddenter?.courseName}}</td>

                                <td>{{ddenter.ddenter?.studentName}}</td>
                                <td>{{ddenter.ddenter?.ddNumber}}</td>
                                <td>{{ddenter.ddenter?.bank}}</td>

                                <td>{{ddenter.ddenter?.ddDate}}</td>

                                <td>{{ddenter.ddenter?.Amount}}</td>

                                <td>{{ddenter.ddenter?.feesItem}}</td>
                                <td>{{ddenter.ddenter?.despatchNo}}</td>
                                <td>{{ddenter.ddenter?.despatchDate}}</td>

                                <td>{{ddenter.ddenter?.enteredBy}}</td>





                            </tr>
                    </ng-container>
                </tbody>

            </table>
        </div>
    </div>
</div>