<div class="wrapper" style="margin-left: 50px">
  <h2>DBA(Share Release Note) List</h2>
  <div class="row" style="padding-top: 30px;padding-left: 50px;padding-right: 50px">
    <div class="form-group col-md-3">

      <label>Filter with Month : </label>&nbsp;
      <select [(ngModel)]="selectedMonth" class="form-control" name="selectedMonth" (change)="filterMonth(selectedMonth)">
        <option value="">--Choose--</option>
        <ng-container *ngFor="let month of Months">
          <option [ngValue]="month.name">{{month.name}}</option>
        </ng-container>

      </select>
    </div>


    <div class="form-group col-md-3">

      <label>Filter DD's with Fee Type: </label>&nbsp;
      <select [(ngModel)]="selectedFee" class="form-control" name="selectedFee" (change)="filterFee(selectedFee)">
        <option value="" [selected]="selectedFee !=0" disabled>--Choose--</option>
        <ng-container *ngFor="let s of feesItems">
          <option [ngValue]="s.name">{{s.name}}</option>
        </ng-container>

      </select>
    </div>
    <div class="form-group col-md-3">

      <label>Filter DD's with Centre Name : </label>&nbsp;
      <select [(ngModel)]="selectedCenter" class="form-control" name="selectedCenter" (change)="filterCenter(selectedCenter)">
        <option value="" [selected]="" disabled>--Choose--</option>
        <ng-container *ngFor="let s of centers">
          <option [ngValue]="s.Id">{{s.CenterName}}</option>
        </ng-container>

      </select>

    </div>
    <div class="form-group col-md-3">
      <label>Count:</label>
      <span style="color: red;padding-left: 20px;">{{selectlisttotal}}</span>

    </div>
    <div style="padding-top: 50px;">

      <table class="table table-hover table-responsive table-bordered">
        <thead class="thead-dark">
          <tr rowspan="2">

            <th>Sl.No </th>
            <th>Month</th>
            <!-- <th>Centre Name</th> -->
            <th>Center Name</th>
            <th>Fees Item</th>

            <!-- <th>Application No:</th> -->
            <!-- <th>Despatch No</th>
            <th>Despatch Date</th> -->
            <th>Despatch Amount</th>
            <th>Tax</th>
            <th>Fee Without Tax</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Dba No</th>


            <!-- <th>Entere by</th> -->


          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ddenter of selectedData">



            <tr>
              <td>{{selectedData.indexOf(ddenter) + 1}}</td>
              <td>{{ddenter.dbaenter?.despatchMonth}}</td>
              <!-- <td>{{ddenter.center?.CenterName}}</td> -->
              <td>{{ddenter.center?.CenterName}}</td>
              <td>{{ddenter.dbaenter?.feesItem}}</td>

              <!-- <td>{{ddenter.dbaenter?.despatchNo}}</td> -->
              <!-- <td>{{ddenter.dbaenter?.despatchNo}}</td> -->
              <!-- <td>{{ddenter.dbaenter?.despatchDate}}</td> -->
              <td>{{ddenter.dbaenter?.despatchAmount}}</td>
              <td>{{ddenter.dbaenter?.tax}}</td>
              <td>{{ddenter.dbaenter?.fwt}}</td>
              <td>{{ddenter.dbaenter?.stkAmount}}</td>
              <td>{{ddenter.dbaenter?.stkRate}}%</td>
              <td>{{ddenter.dbaenter?.dbaNo}}</td>
              <!-- <td>{{ddenter.ddenter?.enteredBy}}</td> -->






            </tr>

          </ng-container>
          <tr>
            <th colspan="4" style="text-align: right">Total</th>
            <td>
              {{desptotal}}
            </td>
            <td>{{taxtotal}}</td>
            <td>{{fwtTotal}}</td>
            <td>{{amountTotal}}</td>
            <!-- <td></td> -->
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>