<div style="margin-left: 50px;" class="wrapper ">

  <!-- Page Content Holder -->
  <div id="content" class="createcontent">
      <div class="form-row">
              <!-- <h2 *ngIf='!isEditMode'>DD Entry</h2> -->
              <h1 *ngIf='!isEditMode'>Adjustment DD Entry</h1>
              <h1 *ngIf='isEditMode'>Edit Adjustment Entry</h1>

      </div>
      <form name="form" #f="ngForm" novalidate>
          <ng-container *ngFor="let lstid of ddLastids">
              <div class="row">

                  <div class="form-group col-md-3">
                      <br>
                      <label for="ddid"> DD Serial No : &nbsp;</label>
                      <span *ngIf='!isEditMode' style="color: red">{{adjlastidvalue  }}</span>
                      <span *ngIf='isEditMode' style="color: red">{{newddEntry.ddlastId}}</span>

                      <input type="hidden" disabled [(ngModel)]="lstid.lastId" name="lastId" class="form-control">
                  </div>

                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="feesItem">Fees Item</label>

                      <select (change)="getResult($event.target.value)" [(ngModel)]="newddEntry.feesItem" name="feesItem" class="form-control"
                          formControlName="feesItem">
                          <option value="" disabled [selected]>--Choose--</option>
                          <ng-container>
                              <option>Course Fee</option>
                              <option>Prospectus</option>
                              <option>Re exam</option>
                              <option>Renewal Fee</option>

                              <option>Affiliation</option>
                              <option>Inspection</option>
                              <option>Duplicate Certificate/Marklist</option>


                          </ng-container>

                      </select>
                      <div *ngIf="feesItem.invalid && (feesItem.dirty || feesItem.touched)" class="alert-danger">
                          <div *ngIf="feesItem.errors.required">
                              Please select fees item
                          </div>

                      </div>
                  </div>



                  
                  <div *ngIf='!isEditMode' class="form-group col-md-3">
                      <label for="date">Date</label>


                      <div class="form-group">
                              <input readonly type="text"
                                     name="todaydate"
                                     [(ngModel)]="todaydate"
                              class="form-control"
                                     #dp="bsDatepicker"
                                     bsDatepicker
                                     
                                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red' }"
                                     [minDate]="minDate"
                                     [maxDate]="maxDate">
                                     
                                     

                            </div>


                      <!-- <input type="text" id="datepicker"> -->
                      <!-- <input type="date" value=""[(ngModel)]="newddEntry.dDate" name="dDate" class="form-control"> -->

                  </div>

                  <div *ngIf='isEditMode' class="form-group col-md-3">
                      <label for="date">Date</label>


                      <div class="form-group">
                              <input type="text"
                              name="newddEntry.dDate"       
                              [(ngModel)]="newddEntry.dDate"
                              class="form-control"
                                     #dp="bsDatepicker"
                                     bsDatepicker
                                   
                                     [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',containerClass: 'theme-red' }"
                                    >
                                     
                                     

                            </div>


                      <!-- <input type="text" id="datepicker"> -->
                      <!-- <input type="date" value=""[(ngModel)]="newddEntry.dDate" name="dDate" class="form-control"> -->

                  </div>


                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="appno">Application No</label>
                      <input type="text"  [(ngModel)]="newddEntry.appNo" name="appNo" class="form-control" formControlName="applicationNo">

                      <div *ngIf="applicationNo.invalid && (applicationNo.dirty || applicationNo.touched)" class="alert-danger">
                          <div *ngIf="applicationNo.errors.required">
                              Application number is required
                          </div>

                      </div>
                  </div>





              </div>

              <div class="row">


                  <div class="form-group col-md-3">
                      <label for="District">District</label>

                      <select (change)="district($event.target.value)" name="district" class="form-control">
                          <option value="" disabled [selected]>--Choose--</option>
                          <ng-container *ngFor="let d of districts">
                              <option [value]="d.name">{{d.name}}</option>

                              <!-- <option [ngValue]="district" >Kannur</option>
                                      <option [ngValue]="district">Kozhikode</option>
                                      <option [ngValue]="district">Malappuram</option> -->
                          </ng-container>

                      </select>
                  </div>

                  <div style="color: red" class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label style="color: black" for="center">Centre Name</label>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <!-- <label for="centercode">Code :</label> -->
{{code}}{{tempcentercode}}                <select #t (change)="callType(t.value)" [(ngModel)]="selectedcenter" class="form-control" name="selectedcenter" formControlName="centerName">
                          <option value="">--Choose--</option>
                          <ng-container *ngFor="let s of centers">
                              <option [ngValue]="s.Id">{{s.CenterName}}</option>
                          </ng-container>

                      </select>
                      <div *ngIf="centerName.invalid && (centerName.dirty || centerName.touched)" class="alert-danger">
                          <div *ngIf="centerName.errors.required">
                              Please select a center
                          </div>

                      </div>


                      <!-- <label for="centerName">Center Name</label>
                          <input type="text" class="form-control" placeholder="Center Name"> -->
                  </div>
                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="course">Course Name</label>

                      <select [(ngModel)]="selectedcourse" class="form-control" name="selectedcourse" formControlName="courseName">
                          <option value="">--Choose--</option>
                          <ng-container *ngFor="let c of courses">
                              <option [ngValue]="c.Name">{{c.Name}}</option>
                          </ng-container>

                      </select>
                      <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)" class="alert-danger">
                          <div *ngIf="courseName.errors.required">
                              Please select a center
                          </div>

                      </div>

                      <!-- <label for="centerName">Center Name</label>
                  <input type="text" class="form-control" placeholder="Center Name"> -->
                  </div>

                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="studentName">Student Name</label>
                      <input type="text" class="form-control" [(ngModel)]="newddEntry.studentName" name="studentName" formControlName="studentName"
                          placeholder="Student Name">
                      <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)" class="alert-danger">
                          <div *ngIf="studentName.errors.required">
                              Student Name is Required
                          </div>
                          <div *ngIf="studentName.errors.pattern">
                              Please enter valid input(alphabets)
                          </div>
                      </div>
                  </div>









              </div>
              <div class="row">


                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="ddNo">DD Number</label>
                      <input type="text" class="form-control" [(ngModel)]="newddEntry.ddNumber" name="ddNumber" placeholder="DD Number" formControlName="ddNumber">
                      <div *ngIf="ddNumber.invalid && (ddNumber.dirty || ddNumber.touched)" class="alert-danger">
                          <div *ngIf="ddNumber.errors.required">
                              DD Number is Required
                          </div>
                          <div *ngIf="ddNumber.errors.minlength">
                              Minimum is 6 digit number
                          </div>
                          <div *ngIf="ddNumber.errors.maxlength">
                              Maximum is 6 digit number
                          </div>
                      </div>
                  </div>


                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="bank">Bank</label>

                      <select [(ngModel)]="newddEntry.bank" class="form-control" name="bank" formControlName="bank">
                          <option value="" disabled [selected]>--Choose--</option>
                          <ng-container>
                              <option>AXIS BANK</option>
                              <option>BANK OF BARODA</option>
                              <option>BANK OF INDIA (BOI)</option>
                              <option>CANARA BANK</option>
                              <option>CENTRAL BANK OF INDIA</option>
                              <option>CHALLAN BANK OF INDIA</option>
                              <option>CO-OPERATIVE BANK</option>
                              <option>CORPORATION BANK</option>
                              <option>DHANALAXMI
                              </option>
                              <option>ERNAKULAM DT. CO-OPERATIVE BANK</option>
                              <option>FEDERAL BANK</option>
                              <option>HDFC</option>
                              <option>ICICI</option>
                              <option>IDBI</option>
                              <option>INDIAN BANK</option>
                              <option> INDIAN OVERSEAS BANK (IOB)</option>
                              <option>INDUSIND BANK</option>
                              <option>KANNUR DIST.CO-OPERATIVE BANK</option>

                              <option>KARUR VYSYA BANK</option>

                              <option>KERALA GRAMIN BANK</option>
                                <option>PATHANAMTHITTA DIST.CO-OPERATIVE BANK</option>
                              <option>PUNJAB NATIONAL BANK</option>
                              <option>SOUTH INDIAN BANK (SIB)</option>
                              <option>SPL PB</option>
                              <option>STATE BANK OF INDIA(SBI)</option>
                              <option>STATE BANK OF TRAVANCORE(SBT)</option>
                              <option>SYNDICATE BANK</option>
                              <option>THE CATHOLIC SYRIAN BANK</option>
                              <option>TAMILNAD MERCANTILE BANK</option>
                              <option>UNION BANK OF INDIA (UBI)</option>
                              <option>UNITED BANK OF INDIA</option>
                              <option>VIJAYA BANK</option>


                          </ng-container>

                      </select>
                      <div *ngIf="bank.invalid && (bank.dirty || bank.touched)" class="alert-danger">
                          <div *ngIf="bank.errors.required">
                              Please select a bank
                          </div>

                      </div>
                  </div>
                 





                  <div class="form-group col-md-3" [formGroup]="ddentryForm">
                      <label for="ddAmount">DD Amount</label>
                      <input type="text" [(ngModel)]="newddEntry.Amount" name="Amount" class="form-control" placeholder="DD Amount" formControlName="ddAmount">
                      <div *ngIf="ddAmount.invalid && (ddAmount.dirty || ddAmount.touched)" class="alert-danger">
                          <div *ngIf="ddAmount.errors.required">
                              DD Amount is Required
                          </div>
                          <div *ngIf="ddAmount.errors.pattern">
                              Please enter digit format
                          </div>

                      </div>
                  </div>

  
                  <div *ngIf='!isEditMode' class="form-group col-md-3">
                      <label for="date">DD Date</label>


                      <div class="form-group">
                              <input readonly type="text"
                                     name="todaydatee"
                                     [(ngModel)]="todaydatee"
                              class="form-control"
                                     #dp="bsDatepicker"
                                     bsDatepicker
                                     containerClass="theme-red"
                                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-red'}"
                                     [minDate]="minDateDD"
                                     [maxDate]="maxDateDD">
                                     
                                     

                            </div>


                      <!-- <input type="text" id="datepicker"> -->
                      <!-- <input type="date" value=""[(ngModel)]="newddEntry.dDate" name="dDate" class="form-control"> -->

                  </div>

                  <div *ngIf='isEditMode' class="form-group col-md-3">
                      <label for="date">DD Date</label>


                      <div class="form-group">
                              <input type="text"
                              name="newddEntry.ddDate"       
                              [(ngModel)]="newddEntry.ddDate"
                              class="form-control"
                                     #dp="bsDatepicker"
                                     bsDatepicker
                                   
                                     [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',containerClass: 'theme-red' }"
                                    >
                                     
                                     

                            </div>


                      <!-- <input type="text" id="datepicker"> -->
                      <!-- <input type="date" value=""[(ngModel)]="newddEntry.dDate" name="dDate" class="form-control"> -->

                  </div>




              </div>

<div class="row">
      <div class="form-group col-md-3">
              <label for="enteredby">Entered By </label>
              <input readonly type="text" [(ngModel)]="newddEntry.enteredBy" name="enteredBy" class="form-control">
          </div>


</div>


              <div class="row">
                  <div class="form-group col-md-12" [formGroup]="ddentryForm">
                      <button *ngIf='!isEditMode' type="submit" (click)="beforeregister(lstid.Id,lstid)" [disabled]="ddentryForm.invalid" class="btn btn-primary">Save</button>
                      &nbsp;

                      <button *ngIf='isEditMode' type="submit" (click)="register(lstid.Id,lstid)" [disabled]="ddentryForm.invalid" class="btn btn-primary">Update</button>

                      <!-- <button  type="submit" class="btn btn-primary">Update</button> -->
                      &nbsp;
                      <button type="reset" class="btn btn-primary">Cancel</button>


                  </div>
              </div>
          </ng-container>

      </form>


      <div style="padding-top: 20px;">
          <h2>Adjustment DD Entry List </h2>



<table class="table table-hover table-responsive table-bordered">
      <thead class="thead-dark">
          <tr>
              <th height="50">SL NO</th>
              <th>DD SL.No</th>
              <th style="min-width: 90px;" >Date</th>
              <th>Application No</th>

              <th style="min-width: 200px;">Centre Name</th>
              <th style="min-width: 100px;">Course Name</th>
              <th style="min-width: 150px;">Student Name</th>
              <th>DD No</th>
              <th style="min-width: 120px;">Bank</th>

              <th style="min-width: 90px;">DD Date</th>

              <th>DD Amount</th>

              <th>Entered By</th>
              <th style="min-width: 100px;">Fees Item</th>

          </tr>
      </thead>
      <tbody>
          <ng-container *ngFor='let ddenter of ddLists '>
              <tr *ngIf="(ddenter.ddenter.isVerified  == false && ddenter.ddenter.isddCanceled == null)">
                  <td>{{ddLists.indexOf(ddenter) + 1}}</td>
                  <td>{{ddenter.ddenter.ddlastId}}</td>
                  <td>{{ddenter.ddenter.dDate}}</td>
                  <td>{{ddenter.ddenter.appNo}}</td>

                  <td>{{ddenter.center.CenterName}}</td>
                  <td>{{ddenter.ddenter.courseName}}</td>
                  <td>   {{ddenter.ddenter.studentName}}
                  </td>
               
                  <!-- <button type="button" class="btn btn-link">
                          <a [routerLink]="['/ddentry-details', ddenter.ddenter.ddlastId]">{{ddenter.ddenter.studentName}}</a>
                      </button> -->


                  <td>{{ddenter.ddenter.ddNumber}}</td>
                  <td>{{ddenter.ddenter.bank}}</td>

                  <td>{{ddenter.ddenter.ddDate}}</td>

                  <td>{{ddenter.ddenter.Amount}}</td>

                  <td>{{ddenter.ddenter.enteredBy}}</td>
                  <td>{{ddenter.ddenter.feesItem}}</td>

               
              </tr>
          </ng-container>
      </tbody>

  </table>


</div>



  </div>
</div>
