<div>
  <nav class="navbar1"></nav>
  <nav class="navbar navbar-default navstyle">
    <div class="container-fluid ">
      <!-- <div class="navbar-header headerStyle">     
        <img class="logoimg"  alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">     
      </div> -->
      <div class="titlestyle">
        <a class="navbar-brand headerText" href="#">DD Tracker</a>
      </div>

      <div style="float:right; padding-top: 10px;">
        <div>

        </div>

        {{ Date }}
        <span style="float:right;">{{version}}</span>
        <!-- <select class="form-control">
       <option   disabled [selected]=""> Settings</option>
        <option>Add Centre Name</option>
        <option>Add Bank Name</option>
        
      </se lect>  -->
        <div class="titlestyle">
          <!-- <a  routerLink="/dd-entry">DD Tracker</a> -->

          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x1') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
              Entry Forms&nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/dd-entry">DD Entry</a>
              </li>
              <li>
                <a routerLink="/kkc-dd-entry">KKC DD Entry</a>
              </li>
              <li>
                <a routerLink="/prospectus">DD Entry Prospectus</a>
              </li>
              <li>
                <a routerLink="/ddentry-app">Phase two Entry</a>
              </li>
              <li>
                <a routerLink="/kkc-phase-two-entry">KKC Phase Two Entry</a>
              </li>
              <li>
                <a routerLink="/adjustment">Adjustment Entry</a>
              </li>
              <li>
                <a routerLink="/ddkkc">DD From KKC</a>

              </li>
              <li>
                <a routerLink="/kkc-batchno-entry">KKC Batch No Entry</a>
              </li>


              <li class="dropdown">
                <a> Inward Items &nbsp;</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/invoice-entry">Invoice Entry</a>
                  </li>
                  <!-- <li><a href="#">Another action</a></li>
                <li class="dropdown">
                  <a href="#">One more dropdown</a>
                  <ul class="dropdown-menu">
                  ...
                  </ul>
                </li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li> -->
                </ul>
              </li>

              <!-- <li class="dropdown">
                <a>Acknowledgement &nbsp;</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/dd-despatch-ack">DD-Despatch-Ack</a>
                  </li>
   
                  <li>
                    <a routerLink="/despatch-ack-details">DD-Despatch-Ack-List</a>
                  </li>
                  <li><a href="#">Another action</a></li>
                <li class="dropdown">
                  <a href="#">One more dropdown</a>
                  <ul class="dropdown-menu">
                  ...
                  </ul>
                </li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                </ul>
              </li> -->
              <!-- <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li> -->
            </ul>
          </div>

          <!--  
        <div class="dropdown">
          <button class="dropbtn">Entry Forms</button>
          <div class="dropdown-content">
            <a routerLink="/dd-entry">DD Entry</a>
            <a routerLink="/prospectus">DD Entry Prospectus</a>
            <a routerLink="/ddentry-app">Phase Two Entry</a>
            <a routerLink="/adjustment">Adjustment Entry</a>
            <a routerLink="/erp-despatch-entry">ERP Despatch No Entry</a>
          </div>
        </div> -->


          <!-- <button class="dropbtn">DD Verification</button> -->

          <!-- <button class="but" mat-button ><a routerLink="/dd-entry">DD Entry</a></button>
        <button class="but" mat-button ><a routerLink="/prospectus">DD Entry Prospectus</a></button> 
        <button class="but" mat-button ><a routerLink="/ddentry-app">Phase Two Entry</a></button> 
        <button class="but" mat-button ><a routerLink="/adjustment">Adjustment Entry</a></button>  -->
          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x3') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">ERP Despatch </button>
            <div class="dropdown-content">
              <a routerLink="/erp-despatch-entry">ERP Despatch No Entry</a>

            </div>
          </div>
          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x2') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">DD Verification</button>
            <div class="dropdown-content">
              <a routerLink="/dd-verification">KCVTP</a>
              <a routerLink="kkc-dd-verification">KKC</a>
              <a routerLink="/adjverification">Adj Entry</a>
              <a routerLink="invoiceentryverification">Invoice Entry</a>
            </div>
          </div>



          <!-- <button mat-button [matMenuTriggerFor]="amenu">Despatch No Entry</button>
        <mat-menu #amenu="matMenu">
          <button mat-menu-item><a routerLink="/despatch-no-entry">KCVTP</a></button>
          <button mat-menu-item>KKC</button>
          <button mat-menu-item><a routerLink="/adjdespatch-no-entry">Adj Entry</a></button>
          

        </mat-menu>   -->
          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x6') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">KKC Entry</button>
            <div class="dropdown-content">
              <a routerLink="/sro-entry">KKC SRO Daily Entry</a>
              <a routerLink="/sro-entry-report">KKC SRO Daily Report</a>
              <a routerLink="/srohoverification">Ho Verification</a>

              <!-- <a>KKC</a> -->
              <!-- <a routerLink="/adjdespatch-no-entry">Adj Entry</a> -->
            </div>
          </div>



          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x7') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">Despatch No Entry</button>
            <div class="dropdown-content">
              <a routerLink="/despatch-no-entry">KCVTP</a>
              <a>KKC</a>
              <!-- <a routerLink="/adjdespatch-no-entry">Adj Entry</a> -->
            </div>
          </div>

          <!-- <button class="but" mat-button ><a routerLink="/erp-despatch-entry">ERP Despatch No Entry</a></button>  -->

          <!-- <button mat-button [matMenuTriggerFor]="menu">DD Verification</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a routerLink="/dd-verification">KCVTP</a></button>
          <button mat-menu-item>KKC</button>
          <button mat-menu-item><a routerLink="adjverification">Adj Entry</a></button>
          

        </mat-menu>   -->
          <!-- <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu> -->
          <!-- <button class="but" mat-button ><a routerLink="/dd-verification">DD Verification</a></button>  -->
          <!-- <button class="but" mat-button ><a routerLink="/dd-id-entry">DD ID Entry</a></button>  -->
          <!-- <button class="but" mat-button ><a routerLink="/dd-id-verification">DD ID Verification</a></button>  -->


          <!-- <button class="but" mat-button ><a routerLink="/despatch-no-entry">Despatch No Entry</a></button>  -->

          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x8') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">Despatch No List</button>
            <div class="dropdown-content">
              <a routerLink="/despstudlist">KCVTP</a>
              <a>KKC</a>
              <!-- <a routerLink="/adjdespstudlist">Adj Entry</a> -->
            </div>
          </div>


          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x9') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">DBA(Share Release Note)</button>
            <div class="dropdown-content">
              <a routerLink="/dba-no-entry">KCVTP</a>
              <a>KKC</a>
              <!-- <a routerLink="/">Adj Entry</a> -->
            </div>
          </div>

          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('y1') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">DBA Details</button>
            <div class="dropdown-content">
              <a routerLink="/dba-details">DBA List(KCVTP)</a>
              <a routerLink="/dba-desp-list">DBA Despatch List(KCVTP)</a>
              <a>KKC</a>
              <!-- <a routerLink="/">Adj Entry</a> -->
            </div>
          </div>

          <!-- <button class="but" mat-button ><a routerLink="/dba-no-entry">DBA(Share Release Note)</a></button>  -->
          <!-- <button class="but" mat-button ><a routerLink="/dba-details">Dba Details</a></button>  -->
          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('y2') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
              Invoice&nbsp;
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              <li>
                <a routerLink="/invoice-manual-generate">Invoice Manual </a>
              </li>

              <li>
                <a routerLink="/invoice-generation">Invoice </a>
              </li>
              <li>
                <a routerLink="invoice-report">Invoice List</a>
              </li>
              <li>
                <a routerLink="invoice-Amount-pending"> Invoice Amount Pending</a>
              </li>
              <li>
                <a routerLink="invoice-amt-pendingList"> Invoice Recieved List</a>
              </li>

              <li class="dropdown">
                <a> KCVTP &nbsp;</a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="kcvtp-centers-invoice">KCVTP Centers Invoice List 1</a>
                  </li>

                  <li>
                    <a routerLink="kcvtp-ceterList-2">KCVTP Centers Invoice List 2</a>
                  </li>
                  <li>
                    <a routerLink="">Center Invoice Report</a>
                  </li>
                  <li>
                    <a routerLink="">KCVTP Invoice Amount Pending</a>
                  </li>
                  <li>
                    <a routerLink="">KCVTP Invoice Recieved List</a>
                  </li>



                </ul>
              </li>


            </ul>
            <!-- <button class="dropbtn">Invoice</button> -->
            <!-- <div class="dropdown-content">
              <a routerLink="/invoice-manual-generate">Invoice Manual </a>

              <a routerLink="/invoice-generation">Invoice </a>
              <a routerLink="invoice-report">Invoice List</a>
              <a routerLink="kcvtp-centers-invoice">KCVTP Centers Invoice List</a>
              <a routerLink="invoice-Amount-pending"> Invoice Amount Pending</a>
              <a routerLink="invoice-amt-pendingList"> Invoice Recieved List</a>
            </div> -->
          </div>


          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('x5') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">Acknowledgement</button>
            <div class="dropdown-content">
              <a routerLink="/dd-despatch-ack">DD-Despatch-Ack</a>
              <a routerLink="/despatch-ack-details">DD-Despatch-Ack-List</a>

            </div>
          </div>


          <!-- <button class="but" mat-button ><a routerLink="/pending-dd">Pending DD's</a></button>  -->
          <div *ngIf="ets.cookievalue != null && ((ets.cookievalue.indexOf('y3') !==-1 )||(ets.cookievalue.indexOf('All') !==-1 ))"
            class="dropdown">
            <button class="dropbtn">Pending DD's</button>
            <div class="dropdown-content">
              <a routerLink="/pending-dd">KCVTP</a>
              <a>KKC</a>
              <!-- <a routerLink="/adjpending-dd">Adj Entry</a> -->
            </div>
          </div>

          <!-- <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a routerLink="/addbank">Add New Bank </a>
          </button>
        </mat-menu> -->
        </div>





        <!-- <a [routerLink]="['/login']">Logout</a> -->
      </div>

    </div>
  </nav>
</div>
<div>
  <div class="navbar-header">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
      <i class="glyphicon glyphicon-align-left"></i>

    </button>
  </div>
  <div class="sidebar">
    <!-- <app-sidebar></app-sidebar> -->

  </div>
</div>


<div>
  <router-outlet></router-outlet>
</div>