<nav id="sidebar"  class="sidebarstyle">
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li >
          <a [routerLink]="['/dd-entry']">DD Entry</a>

            <!-- <a href="#dddetailsSubmenu" data-toggle="collapse" aria-expanded="false">DD Details</a>
            <ul class="collapse list-unstyled" id="dddetailsSubmenu">
                <li>
                    <a [routerLink]="['/login']">Add New DD </a>
                </li>
                <li>
                    <a [routerLink]="['/createquotation']">Create Quotation</a>
                </li>
            </ul> -->
        </li>
        <li>
            
            <a [routerLink]="['/dd-verification']">DD Verification</a>

          
            <!-- <a href="#PurchaseSubmenu" data-toggle="collapse" aria-expanded="false">Purchase Orders</a>
            <ul class="collapse list-unstyled" id="PurchaseSubmenu">
                <li>
                    <a [routerLink]="['/initialpolist']">Closed PO list</a>
                </li>
                <li>
                    <a [routerLink]="['/listpo']">Ongoing PO List</a>
                </li>

            </ul> -->

        </li>

        <li>

            <a [routerLink]="['/dd-id-entry']">DD ID Entry</a>
          
            <!-- <a href="#paymentsSubmenu" data-toggle="collapse" aria-expanded="false">Payments</a>
            <ul class="collapse list-unstyled" id="paymentsSubmenu">
                <li>       <a [routerLink]="['/popaymentlist']">Make PO Payment</a>          
                        
                    <a [routerLink]="['/listpayments']">Payments Till Date</a>
                </li>
            </ul> -->
        </li>
       
        <li>

            <a [routerLink]="['/dd-id-verification']">DD ID Verification</a>
          
            <!-- <a href="#paymentsSubmenu" data-toggle="collapse" aria-expanded="false">Payments</a>
            <ul class="collapse list-unstyled" id="paymentsSubmenu">
                <li>       <a [routerLink]="['/popaymentlist']">Make PO Payment</a>          
                        
                    <a [routerLink]="['/listpayments']">Payments Till Date</a>
                </li>
            </ul> -->
        </li>
       
        
        <li>

            <a [routerLink]="['/despatch-no-entry']">Despatch No Entry</a>
          
            <!-- <a href="#supplierSubmenu" data-toggle="collapse" aria-expanded="false">Supplier</a>
            <ul class="collapse list-unstyled" id="supplierSubmenu">
                <li>
                    <a [routerLink]="['/createsupplier']">Add Supplier</a>
                </li>
                <li>
                    <a [routerLink]="['/listsupplier']">Supplier List</a>
                </li>
            </ul>
            -->
        </li>

        <li>
            <a [routerLink]="['/dba-no-entry']">DBA No Entry</a>
          
            <!-- <a href="#SalesmanSubmenu" data-toggle="collapse" aria-expanded="false">Salesman</a>
            <ul class="collapse list-unstyled" id="SalesmanSubmenu">
                <li>
                    <a [routerLink]="['/createsalesman']">Add Salesman</a>
                </li>
                <li>
                    <a [routerLink]="['/listsalesman']">Salesman List</a>
                </li>
            </ul>
            -->
        </li>
        <li>
            <a [routerLink]="['/rollno-entry']">Roll No Entry</a>
          
            <!-- <a href="#SalesmanSubmenu" data-toggle="collapse" aria-expanded="false">Salesman</a>
            <ul class="collapse list-unstyled" id="SalesmanSubmenu">
                <li>
                    <a [routerLink]="['/createsalesman']">Add Salesman</a>
                </li>
                <li>
                    <a [routerLink]="['/listsalesman']">Salesman List</a>
                </li>
            </ul>
            -->
        </li>
        
        <li>
                <a [routerLink]="['/pending-dd']">Pending DD's</a>
                </li>

        <!-- <li>
            <a href="#CustomerSubmenu" data-toggle="collapse" aria-expanded="false">Customer</a>
            <ul class="collapse list-unstyled" id="CustomerSubmenu">
                <li>
                    <a [routerLink]="['/createcustomer']">Add Customer</a>
                </li>
                <li>
                    <a [routerLink]="['/listcustomer']">Customer List</a>
                </li>
            </ul>
           
        </li>
        -->
    </ul>


</nav>

