<div class="wrapper" style="margin-left: 50px">
  <h2>DespatchNo Student List</h2>
  <div class="row" style="padding-top: 30px;padding-left: 50px;padding-right: 50px">
    <div class="form-group col-md-3">

      <label>Filter DD's with Centre Name : </label>&nbsp;
      <select [(ngModel)]="selectedCenter" class="form-control" name="selectedCenter" (change)="filterCenter(selectedCenter)">
        <option value="" [selected]="" disabled>--Choose--</option>
        <ng-container *ngFor="let s of centers">
          <option [ngValue]="s.Id">{{s.CenterName}}</option>
        </ng-container>

      </select>

    </div>
    <div class="form-group col-md-3">

      <label>Filter with Month : </label>&nbsp;
      <select [(ngModel)]="selectedMonth" class="form-control" name="selectedMonth" (change)="filterMonth(selectedMonth)">
        <option value="">--Choose--</option>
        <ng-container *ngFor="let month of Months">
          <option [ngValue]="month.id">{{month.name}}</option>
        </ng-container>

      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Count:</label>
      <span style="color: red;padding-left: 20px;">{{selectlisttotal}}</span>

    </div>
    <div style="padding-top: 50px;">

      <table class="table table-hover table-responsive table-bordered">
        <thead class="thead-dark">
          <tr>

            <th>Sl.No </th>
            <th>DD.Sl.No</th>
            <!-- <th>Centre Name</th> -->
            <th>Student Name</th>
            <th>Application No:</th>
            <th>Despatch No</th>
            <th>Despatch Date</th>
            <th>Fees Item</th>
            <td>DD Amount</td>
            <th>Tax</th>
            <th>Fee Without Tax</th>
            <!-- <th>Entere by</th> -->


          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ddenter of selectedData">


            <tr>
            <tr>
              <td>{{selectedData.indexOf(ddenter) + 1}}</td>
              <td>{{ddenter.ddenter?.ddlastId}}</td>
              <!-- <td>{{ddenter.center?.CenterName}}</td> -->
              <td>{{ddenter.ddenter?.studentName}}</td>
              <td>{{ddenter.ddenter?.appNo}}</td>
              <td>{{ddenter.ddenter?.despatchNo}}</td>
              <td>{{ddenter.ddenter?.despatchDate}}</td>
              <td>{{ddenter.ddenter?.feesItem}}</td>
              <td>{{ddenter.ddenter?.Amount}}</td>
              <td>{{ddenter.ddenter?.taxValue}}</td>
              <td>{{ddenter.ddenter?.feeWT}}</td>
              <!-- <td>{{ddenter.ddenter?.enteredBy}}</td> -->






            </tr>

          </ng-container>
          <tr>
            <td colspan="7" style="text-align: right">Total</td>
            <td>
              {{totalTemp}}
            </td>
            <td>{{taxTotal}}</td>
            <td>{{feeWTtemp}}</td>
            <!-- <td></td> -->
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>