<div class="wrapper ">

        <div id="content" class="listcontent listcontenttable">
          
            <div>
              
                <div>
                    <div>
                        <h2>Verify DD ID</h2>
                        <br>
                        <table class="table table-hover table-responsive table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th height="50" bgcolor="#6599F">SL NO</th>
                                    <th>DD Serial No</th>
    
                                    <th>Date</th>
                                    <th>Application No</th>
                                    <th>Centre Name</th>
                                    <th>Course Name</th>
                                    <th>Student Name</th>
                                    <th>DD No</th>
                                    <th>Bank</th>
    
                                    <th>DD Date</th>
    
                                    <th>DD Amount</th>
                                    <th>Entered By</th>
    
                                    <th>Fees Item</th>
                                    <th>DD ID</th>
                                    <th>Verify DD ID</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor='let ddenter of ddLists '>
                                    <tr *ngIf="ddenter.ddenter.isVerified  == true && ddenter.ddenter.isddIdentered==true && ddenter.ddenter.isidVerified==false">
                                        <td>{{ddLists.indexOf(ddenter) + 1}}</td>
                                        
                                        <td>{{ddenter.ddenter.ddlastId}}</td>
    
                                        <td>{{ddenter.ddenter.dDate}}</td>
                            <td>{{ddenter.ddenter.appNo}}</td>
                                        
                                        <td>{{ddenter.center.CenterName}}</td>
                            <td>{{ddenter.ddenter.courseName}}</td>
                                        
                                        <td>{{ddenter.ddenter.studentName}}</td>
                                        <td>{{ddenter.ddenter.ddNumber}}</td>
                                        <td>{{ddenter.ddenter.bank}}</td>
    
                                        <td>{{ddenter.ddenter.ddDate}}</td>
    
                                        <td>{{ddenter.ddenter.Amount}}</td>
    
                                        <td>{{ddenter.ddenter.enteredBy}}</td>
                                        <td>{{ddenter.ddenter.feesItem}}</td>
                                        <td>{{ddenter.ddenter.ddId}}</td>
                                        <td><button type="submit" class="btn btn-primary" (click)="verify(ddenter.ddenter.ddlastId ,ddenter.ddenter)">Verify</button></td>
    
                                    </tr>
                                </ng-container>
                            </tbody>
    
                        </table>



                        <h2> DD ID Verified List</h2>
                        <table class="table table-hover table-responsive table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th height="50" bgcolor="#6599F">SL NO</th>
                                        <th>DD Serial No</th>
        
                                        <th>Date</th>
                                        <th>Application No</th>        
                                        <th>Centre Name</th>
<th>Course Name</th>
                                        <th>Student Name</th>
                                        <th>DD No</th>
                                        <th>Bank</th>
        
                                        <th>DD Date</th>
        
                                        <th>DD Amount</th>
                                        <th>Entered By</th>
        
                                        <th>Fees Item</th>
                                        <th>DD ID</th>
                                        <th>Status</th>
        
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor='let ddenter of ddLists '>
                                        <tr *ngIf="ddenter.ddenter.isidVerified==true">
                                            <td>{{ddLists.indexOf(ddenter) + 1}}</td>
                                            
                                            <td>{{ddenter.ddenter.ddlastId}}</td>
        
                                            <td>{{ddenter.ddenter.dDate}}</td>
                                            <td>{{ddenter.ddenter.appNo}}</td>

                                            <td>{{ddenter.center.CenterName}}</td>
                                            <td>{{ddenter.ddenter.courseName}}</td>
              
                                            <td>{{ddenter.ddenter.studentName}}</td>
                                            <td>{{ddenter.ddenter.ddNumber}}</td>
                                            <td>{{ddenter.ddenter.bank}}</td>
        
                                            <td>{{ddenter.ddenter.ddDate}}</td>
        
                                            <td>{{ddenter.ddenter.Amount}}</td>
        
                                            <td>{{ddenter.ddenter.enteredBy}}</td>
                                            <td>{{ddenter.ddenter.feesItem}}</td>
                                            <td>{{ddenter.ddenter.ddId}}</td>
                                            <td>Verified</td>        
                                        </tr>
                                    </ng-container>
                                </tbody>
        
                            </table>
                    </div>
                </div>
            </div>
        </div>